body {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

#background {
  display: inline;
  background-color: #707885;
}

#nav {
  display: inline;
}

.display {
  display: inline;
}

.nav {
  padding-top: 10px;
  background-color: #272930;
  overflow: hidden;
  height: 60px;
  margin-bottom: 0px;
  padding-bottom: 63px;
}

.line {
  display: inline;
}

.nav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.button {
  float: right;
}

.btn {
  float: right;
}

#signin {
  margin-right: 2px;
  background-color: #2d6ff7;
  color: #ffffff;
  width: 100px;
  height: 30px;
  border-style: none;
  border-radius: 4px;
}

#signin:hover {
  background-color: #de2b2b;
}

#signup {
  margin-left: 0px;
  margin-right: 10px;
  background-color: #7c7f85;
  color: #ffffff;
  width: 100px;
  height: 30px;
  border-style: none;
  border-radius: 4px;
}

#signup:hover {
  background-color: #de2b2b;
}

#anchorbutton {
  margin-right: 0px;
  padding-left: 650px;
}

#ancorbutton:hover {
  background-color: transparent;
}

#stackicon {
  margin-right: 6px;
}

#media {
  margin-top: 0px;
  padding-top: 10px;
  padding-bottom: 30px;
  background-color: #2d6ff7;;
  background-image: url("../../img/landingpage/coding.jpg");
  background-size: cover;
  height: 290px;
}

.header {
  text-align: center;
  color: #ffffff;
  margin-top: 55px;
  margin-bottom: 0px;
}

.header2 {
  text-align: center;
  color: #ffffff;
  margin-bottom: 0px;  
  font-weight: bold;
}

* {
  box-sizing: border-box;
}

.column1 {
  float: left;
  width: 20.3%;
  padding: 10px;
  height: 600px; 
}

.column2 {
  float: left;
  width: 56%;
  padding: 10px;
  height: 500px;
}

.column3 {
  float: left;
  width: 23.7%;
  padding: 10px;
  height: 600px; 
}

.info {
  margin-left: 25%;
  margin-bottom: 15%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column1icons {
  margin-right: 5px;
}

#questionbackground {
  background-color: #ffffff;
  padding: 10px 5px 5px 10px;
  height: 100px;
  margin-bottom: 10px;
}

#btn3 {
  background-color: #2d6ff7;
  width: 240px;
  height: 50px;
  border-radius: 4px;
  color: #ffffff;
  font-size: 18px;
  border-style: none;
  margin-top: 5%;
  margin-left: 5%;
}

#btn3:hover {
  background-color: #de2b2b;;
}

#tagsbackground {
  background-color: #ffffff;
  padding: 10px 5px 5px 20px;
  height: 200px;  
}

.info2 {
  text-align: center;
}

.tags {
  background-color: transparent;
  border: 1px solid #7c7f85;
  height: 50px; 
  padding: 5px 7px 5px 7px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 3px;
  opacity: 0.5;
  border-radius: 4px;
}

.tags:hover {
  background-color: #2d6ff7;
  opacity: 1;
  color: #ffffff;
}

#hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1.5px solid #cccccc;
  margin: 1em 0;
  padding: 0; 
}

.answer {
  border-style: none;
  float: right;
  top: 0px;
  right: 40px;
  border-radius: 4px;
  color: #ffffff;
  background-color:#272930;
  height: 40px; 
  width: 95px;
  margin-right: 50px;
  border-radius: 4px;
}

.question {
  padding-left: 50px;
}

.answer:hover {
  background-color: #2d6ff7;
}


.avatar {
  border-radius: 50%;
  display: inline;
}

.name {
  display: inline;
  color: #2d6ff7;
  font-weight: bold;
  margin-left: 12px;
}

.time {
  display: inline;
  color: #272930;
  opacity: 0.6;
  margin-left: 12px;
}

.buttondetails {
  margin-bottom: 45px;
}
